<br><br>
<div class="contain mt-4 mb-4 p-4">

  <!-- trending movies  -->
  <div class="row" style="overflow-x: auto">
    <h4 class="text-black">Box Office Trending Movies</h4>
    <div class="row-poster mt-3 p-2 trending-movie">
      <ng-container *ngFor="let t of trendingMovieResult">
        <img src="{{ environment.imageBaseUrl }}/{{ t.poster_path }}" class="row-img large-poster" alt="Image not available"
          [routerLink]="['/movie',t.id]">
      </ng-container>

    </div>

  </div>

  <!-- comedy movies  -->
  <div class="row mt-4" style="overflow-x: auto">
    <h4 class="text-black">Comedy Movies</h4>
    <div class="row-poster mt-3 p-2 comedy-movie">
      <ng-container *ngFor="let c of comedyMovieResult">
        <img src="{{ environment.imageBaseUrl }}/{{ c.poster_path }}" class="row-img large-poster" alt="Image Not available"
          [routerLink]="['/movie',c.id]">
      </ng-container>

    </div>

  </div>

  <!-- thriller movies  -->
  <div class="row mt-4" style="overflow-x: auto">
    <h4 class="text-black">Thriller Movies</h4>
    <div class="row-poster mt-3 p-2 thriller-movie">
      <ng-container *ngFor="let th of thrillerMovieResult">
        <img src="{{ environment.imageBaseUrl }}/{{ th.poster_path }}" class="row-img large-poster" alt="Image not available"
          [routerLink]="['/movie:',th.id]">
      </ng-container>

    </div>

  </div>

</div>
