:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  border: solid #000000;
  border-radius: 2%;
  padding: 2%;
  width: 55vh;
  box-sizing: border-box;
}

input {
  width: 100%;
  border-radius: 2%;
  padding: 2%;
  margin: 2% 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

.button-container {
  text-align: center;
}

.login-button, .register-button {
  background-color: #6c757d;
  color: #fff;
  border-radius: 5vh;
  border: 2%;
  width: 90%;
  padding: 2%;
  margin-top: 5%;
}

button:hover {
  background-color: #ff0000;
}

@media (max-width: 768px) {

  .login-container {
    width: 80%; /* Adjust width for smaller screens */
  }

  .login-button, .register-button {
    width: 100%; /* Make buttons full-width on smaller screens */
  }
}
